.bosh{
    text-align: center;
    border-color: aqua;
    color: black;
    background-color: aqua;
}

.tex{
    text-align: center;
    border-color: beige;
    color: chocolate;
}
 .ass{
    text-align: center;
    border-color: azure;
    color: blueviolet;
 }
